<html>
  <head>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
    <title>Personal Site</title>
  </head>
  <body>
    <div class = header>
      <p class = left>Tyler's Mod 2 Website</p>
    </div>

    <div class = menu>
      <p class = right>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </p>
    </div>

    <div class = maincontent>
      <section class = main>
      <h1>Blog</h1>
      <p>I spent too much time than I should have making this website.  I finished all of these SQL exercises but had to get the answer and read the discussion on most of the Join exercises.</p>
      </section>
    </div>
  </body>
</html>
