<html>
  <head>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
    <title>Personal Site</title>
  </head>
  <body>
    <div class = header>
      <p class = left>Tyler's Mod 2 Website</p>
    </div>

    <div class = menu>
      <p class = right>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </p>
    </div>

    <div class = maincontent>
      <section class = main>
      <h1>Welcome</h1>
      <p>This is my personal website for Module 2 of Backend Engineering at Turing School of Software and Design</p>
      </section>

      <section class = rightside>
        <h2 align = "left">Turing Homepage</h2>
        <a href="http://www.turing.io">
          <img src="https://d682ma8ami8n4.cloudfront.net/images/TuringSchool_LogoMark_Gray.png" alt="Turing" style="width:200px;height:200px">
        </a>
      </section>
    </div>


  </body>
</html>
